@use "../../../index.scss" as vars;

.section {
   &:not(:last-child) {
      margin-bottom: 30px;
   }
   &__title {
      font-weight: 700;
      font-size: 28px;
      line-height: 1.1;
      text-transform: uppercase;
      margin-bottom: 20px;
      display: flex;
      align-items: center;

      &::after {
         content: "";
         flex: 1 1 auto;
         height: 1px;
         background-color: vars.$color-dark;
         margin-left: 20px;
      }
   }

   &__subtitle {
      font-size: 12px;
      line-height: 1;
      align-self: flex-end;
      margin: 0 0 6px 7px;
      text-transform: lowercase;
   }
   &__content {
      padding: 0 0 0 30px;
   }

   @media (max-width: 992px) {
      &__title {
         font-size: 22px;

         &::after {
            margin-left: 10px;
         }
      }
      &__subtitle {
         font-size: 10px;
         margin: 0 0 5px 5px;
      }
      &__content {
         padding: 0 0 0 18px;
      }
   }
   @media (max-width: 470px) {
      &__title {
         font-size: 20px;
      }
      &__content {
         padding: 0 0 0 5px;
      }
   }
}
